# Entorno virtual
melanoma_env/

# Dataset
data/

# Modelos entrenados (MUY IMPORTANTE)
*.h5
*.keras
models/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db